<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120408997221-2919s6behq6nsn15ij9cf4aqm8sjja3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120408997221-2919s6behq6nsn15ij9cf4aqm8sjja3c</string>
	<key>API_KEY</key>
	<string>AIzaSyABzKcom7lkk9W3ObiJiA6QfWEzDtlAXgA</string>
	<key>GCM_SENDER_ID</key>
	<string>120408997221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitalyprosvetov.GBTrainingApp</string>
	<key>PROJECT_ID</key>
	<string>gbtrainingapp-14030</string>
	<key>STORAGE_BUCKET</key>
	<string>gbtrainingapp-14030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120408997221:ios:2aeb0921610981817e758c</string>
	<key>DATABASE_URL</key>
	<string>https://gbtrainingapp-14030.firebaseio.com</string>
</dict>
</plist>